<p id="notice"><%= notice %></p>

<h1>Mentor Match Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cv text</th>
      <th>Match role</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentor_match_profiles.each do |mentor_match_profile| %>
      <tr>
        <td><%= mentor_match_profile.user %></td>
        <td><%= mentor_match_profile.cv_text %></td>
        <td><%= mentor_match_profile.match_role %></td>
        <td><%= mentor_match_profile.position %></td>
        <td><%= link_to 'Show', mentor_match_profile %></td>
        <td><%= link_to 'Edit', edit_mentor_match_profile_path(mentor_match_profile) %></td>
        <td><%= link_to 'Destroy', mentor_match_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentor Match Profile', new_mentor_match_profile_path %>
