<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mentor_match_profile.user %>
</p>

<p>
  <strong>Cv text:</strong>
  <%= @mentor_match_profile.cv_text %>
</p>

<p>
  <strong>Match role:</strong>
  <%= @mentor_match_profile.match_role %>
</p>

<p>
  <strong>Position:</strong>
  <%= @mentor_match_profile.position %>
</p>

<%= link_to 'Edit', edit_mentor_match_profile_path(@mentor_match_profile) %> |
<%= link_to 'Back', mentor_match_profiles_path %>
