<p id="notice"><%= notice %></p>

<p>
  <strong>Postingtype:</strong>
  <%= @service_posting.postingType %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @service_posting.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_posting.description %>
</p>

<p>
  <strong>Fulltimeequivalents:</strong>
  <%= @service_posting.fullTimeEquivalents %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @service_posting.userId %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @service_posting.closed %>
</p>

<%= link_to 'Edit', edit_service_posting_path(@service_posting) %> |
<%= link_to 'Back', service_postings_path %>
